<!-- About  -->
<img src="{{AboutUsService.AboutUsData[0].centerImage}}" alt="about us bg" height="60">
<div class="pt-20 pb-24">
  <div class="container">
    <div class="flex flex-wrap mt-5 xl:mt-8">
      <div class="lg:w-1/2 lg:order-last">
          <img src="{{AboutUsService.AboutUsData[0].sideImage}}" alt="About" />
        <!-- </a> -->
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 about__text">
        <h3 class="about__title"> {{AboutUsService.AboutUsData[0].information}} </h3>
      </div>
    </div>
  </div>
</div>
