<div class="ll-content tex-center" id="resumeBody" #resumeBody>
<h1>Monthly and Annual Reports of CVs </h1>
  <table class="test-result-table" cellspacing="0">
    <thead>
        <tr>
            <td class="test-result-table-header-cell">
                Date
            </td>
            <td class="test-result-table-header-cell">
                Description
            </td>
            <td class="test-result-table-header-cell">
                Result
            </td>
        </tr>
    </thead>
    <tbody>
        <tr class="test-result-step-row test-result-step-row-altone">
            <td class="test-result-step-command-cell">
                
            </td>
            <td class="test-result-step-description-cell">
                
            </td>
            <td class="test-result-step-result-cell-ok">
               
            </td>
        </tr>
        <tr class="test-result-step-row test-result-comment-row">
            <td class="test-result-describe-cell" colspan="3">
                Describe: This is a comment
            </td>
        </tr>
        <tr class="test-result-step-row test-result-step-row-alttwo">
            <td class="test-result-step-command-cell">
                1/1/2020 - 30/12/2020
            </td>
            <td class="test-result-step-description-cell">
              sold 1000 Template
            </td>
            <td class="test-result-step-result-cell-failure">
              sold  Good
            </td>
        </tr>
        <tr class="test-result-step-row test-result-step-row-altone">
            <td class="test-result-step-command-cell">
                1/1/2021 - 30/12/2021
            </td>
            <td class="test-result-step-description-cell">
              sold 5000 Template
            </td>
            <td class="test-result-step-result-cell-notperformed">
              sold very Good
            </td>
        </tr>
    </tbody>
</table>
<br/>
<br/>
<br/>

<table class="test-result-table" cellspacing="0">
  <thead>
      <tr>
          <td class="test-result-table-header-cell">
             Month
          </td>
          <td class="test-result-table-header-cell">
              Description
          </td>
          <td class="test-result-table-header-cell">
              Result
          </td>
      </tr>
  </thead>
  <tbody>
      <tr class="test-result-step-row test-result-step-row-altone">
          <td class="test-result-step-command-cell">
              
          </td>
          <td class="test-result-step-description-cell">
              
          </td>
          <td class="test-result-step-result-cell-ok">
             
          </td>
      </tr>
      <tr class="test-result-step-row test-result-comment-row">
          <td class="test-result-describe-cell" colspan="3">
              Describe: This is a comment
          </td>
      </tr>
      <tr class="test-result-step-row test-result-step-row-alttwo">
          <td class="test-result-step-command-cell">
              1 Month
          </td>
          <td class="test-result-step-description-cell">
            sold 100 Template
          </td>
          <td class="test-result-step-result-cell-failure">
            sold  Good
          </td>
      </tr>
      <tr class="test-result-step-row test-result-step-row-altone">
          <td class="test-result-step-command-cell">
              2 Month
          </td>
          <td class="test-result-step-description-cell">
            sold 500 Template
          </td>
          <td class="test-result-step-result-cell-notperformed">
            sold very Good
          </td>
      </tr>
      <tr class="test-result-step-row test-result-step-row-altone">
        <td class="test-result-step-command-cell">
            3 Month
        </td>
        <td class="test-result-step-description-cell">
          sold 500 Template
        </td>
        <td class="test-result-step-result-cell-notperformed">
          sold very Good
        </td>
    </tr>
    <tr class="test-result-step-row test-result-step-row-altone">
      <td class="test-result-step-command-cell">
          4 Month
      </td>
      <td class="test-result-step-description-cell">
        sold 500 Template
      </td>
      <td class="test-result-step-result-cell-notperformed">
        sold very Good
      </td>
  </tr>
  <tr class="test-result-step-row test-result-step-row-altone">
    <td class="test-result-step-command-cell">
        5 Month
    </td>
    <td class="test-result-step-description-cell">
      sold 500 Template
    </td>
    <td class="test-result-step-result-cell-notperformed">
      sold very Good
    </td>
</tr>
<tr class="test-result-step-row test-result-step-row-altone">
  <td class="test-result-step-command-cell">
      6 Month
  </td>
  <td class="test-result-step-description-cell">
    sold 500 Template
  </td>
  <td class="test-result-step-result-cell-notperformed">
    sold very Good
  </td>
</tr>
<tr class="test-result-step-row test-result-step-row-altone">
  <td class="test-result-step-command-cell">
     7 Month
  </td>
  <td class="test-result-step-description-cell">
    sold 500 Template
  </td>
  <td class="test-result-step-result-cell-notperformed">
    sold very Good
  </td>
</tr>
<tr class="test-result-step-row test-result-step-row-altone">
  <td class="test-result-step-command-cell">
      8 Month
  </td>
  <td class="test-result-step-description-cell">
    sold 500 Template
  </td>
  <td class="test-result-step-result-cell-notperformed">
    sold very Good
  </td>
</tr>
<tr class="test-result-step-row test-result-step-row-altone">
  <td class="test-result-step-command-cell">
      9 Month
  </td>
  <td class="test-result-step-description-cell">
    sold 500 Template
  </td>
  <td class="test-result-step-result-cell-notperformed">
    sold very Good
  </td>
</tr>
<tr class="test-result-step-row test-result-step-row-altone">
  <td class="test-result-step-command-cell">
      10 Month
  </td>
  <td class="test-result-step-description-cell">
    sold 500 Template
  </td>
  <td class="test-result-step-result-cell-notperformed">
    sold very Good
  </td>
</tr>
<tr class="test-result-step-row test-result-step-row-altone">
  <td class="test-result-step-command-cell">
      11 Month
  </td>
  <td class="test-result-step-description-cell">
    sold 500 Template
  </td>
  <td class="test-result-step-result-cell-notperformed">
    sold very Good
  </td>
</tr>
<tr class="test-result-step-row test-result-step-row-altone">
  <td class="test-result-step-command-cell">
      12 Month
  </td>
  <td class="test-result-step-description-cell">
    sold 500 Template
  </td>
  <td class="test-result-step-result-cell-notperformed">
    sold very Good
  </td>
</tr>
  </tbody>
</table>
<div class="border-b px-5 pt-10 pb-12 text-center">
  <button mat-flat-button (click)="generateResume()" class="py-3 px-20 text-xl font-bold"
    color="accent">Generate Report</button>
</div>

</div>