<div class="pt-52 pb-32 bg-gray-100 text-center" style="background-image: url('../../assets/images/contactus.jpg');">
  <div class="container">
    <h1 style="font-weight: bold;">{{contactUsService.ContactInfoData[0].titles}}</h1>
  </div>
</div>
<div class="pt-20">
  <div class="container">
    <div class="grid grid-cols-12 gap-4 lg:gap-8 xxl:gap-16">
      <div class="contact__form col-span-12 lg:col-span-7">
        <div class="mb-8">
          <h1 style="font-weight: bold;">{{contactUsService.ContactInfoData[0].titles}}</h1>
        </div>
       
       

        <form [formGroup]="this.ContactForm" (submit)="SaveItem()">
          <div class="flex flex-wrap sm:flex-nowrap sm:space-x-5 mt-3">
            <input formControlName="name" type="text" placeholder="Your Name" class="border border-gray-200 p-2 px-4 w-full sm:w-1/2 rounded-sm" />
           <mat-error  *ngIf="ContactForm.controls.name.hasError('required')">
               Name is <strong>required</strong>
           </mat-error>
            <input formControlName="phoneNumber" type="text" placeholder="Your Number" class="border border-gray-200 p-2 px-4 w-full sm:w-1/2 rounded-sm mt-3 sm:mt-0"/>
            <mat-error *ngIf="ContactForm.controls.phoneNumber.hasError('required')">
              Phone Number is <strong>required</strong>
          </mat-error>
          </div>
          <input formControlName="email" type="email" placeholder="Your Email" class="border border-gray-200 p-2 px-4 w-full rounded-sm mt-5" />
          <mat-error *ngIf="ContactForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
          <input formControlName="subject" type="text" placeholder="Subject" class="border border-gray-200 p-2 px-4 w-full rounded-sm mt-5" />
          <mat-error *ngIf="ContactForm.controls.subject.hasError('required')">
            Subject is <strong>required</strong>
        </mat-error>
          <textarea formControlName="message" cols="10" rows="3" placeholder="Tell us about desired property" [value]="''" class="border border-gray-200 p-3 mt-5 w-full rounded-sm mt-5"></textarea>
          <mat-error *ngIf="ContactForm.controls.message.hasError('required')">
            Message is <strong>required</strong>
        </mat-error><br>
          <button [disabled]="!ContactForm.valid" type="submit" class="px-5 py-2 bg-accent text-white mt-5 rounded font-medium">Send Message</button>
        </form>
     
      </div>
      <div class="col-span-12 lg:col-span-5 bg-black bg-opacity-90 text-white rounded p-8 xxl:px-16 mt-10 lg:mt-0">
        <h2 style="font-weight: bold;" >{{contactUsService.ContactInfoData[0].titles}}</h2>
        <div class="flex space-x-4 mt-14">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon color="accent">settings_phone</mat-icon>
          </div>
          <div class="flex-1">
            <a href="callto:125512556523" class="text-gray-300 font-semibold hover:text-accent">{{contactUsService.ContactInfoData[0].phoneNumber}}</a>
            <br />
          </div>
        </div>
        <div class="flex space-x-4 mt-8">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon color="accent">mail_outline</mat-icon>
          </div>
          <div class="flex-1">
            <a href="mailto:mail@example.com" class="text-gray-300 font-semibold hover:text-accent">{{contactUsService.ContactInfoData[0].email}}</a>
            <br />
          </div>
        </div>
        <div class="flex space-x-4 mt-8">
          <div class="flex pt-1 bg-purple-600 rounded-lg">
            <mat-icon color="accent">map</mat-icon>
          </div>
          <div class="flex-1">
            <a
              target="_blank"
              href="https://www.google.com/maps/@23.6982376,90.3462922,19.25z"
              class="text-gray-300 hover:text-accent font-semibold"
            >
            {{contactUsService.ContactInfoData[0].address}} <br />
              
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 mt-5">
      </div>
    </div>
  </div>
</div>
