<h1 >Edit Permission</h1>
<form [formGroup]="formGroup" *ngFor="let rolepermission of permissionroleservice.data">
  <input hidden ngModel="{{rolepermission.id}}">
  <mat-form-field appearance="fill" >
    <mat-label>Permission Name</mat-label>
    <mat-select  required formControlName="permissionId">
      <mat-option selected>{{rolepermission.permissionId}}</mat-option>
      <mat-option   *ngFor="let permission of permissionroleservice.permission; let i = index " [value]="permission.id" >
        {{permission.name}}
      </mat-option>
     
    </mat-select>
    
    <mat-error *ngIf="formGroup.hasError('required')">Please choose Permission</mat-error>

  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left:55px;"   >
    <mat-label>Role Name</mat-label>
    <mat-select  required formControlName="RoleId">
      <mat-option selected>{{rolepermission.roleId}}</mat-option>
      <mat-option  *ngFor="let role of roleservice.data ; let i=index" [value]="role.id">
        {{role.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.hasError('required')">Please choose Role</mat-error>

  </mat-form-field>

  <div  style="margin-left: 167 px ;">
    <button mat-button  class="cancle">Cancle</button>
    <button type="submit" class="save"  mat-button  style="margin-left: 46px;" cdkFocusInitial (click)="UpdateItem()">Update</button>
  </div>
  

</form>
  